* {
  font-family: 'Crimson Text', serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.newUse, .exUse {
  width: 150px;
  height: 25px;
  color: white;
  background-color: rgb(212, 26, 57);
  margin-top: 10px;
  margin-bottom: 10px;
}